.dark-mode {
  &:root {
    --primary-text-color: white;
    --nav-background: white;
    --nav-text: black;
    --accent-color: #ed0ebc;
    --body-color: black;
    --accent-color-light: #ff00c88b;
  }
}

:root {
  --primary-text-color: black;
  --nav-background: black;
  --nav-text: white;
  --accent-color: #dc00ad;
  --body-color: rgb(255, 255, 255);
  --accent-color-light: #ff00c88b;
}

$primary-text: var(--primary-text-color);
$nav-background: var(--nav-background);
$nav-text: var(--nav-text);
$accent-color: var(--accent-color);
$body-color: var(--body-color);
$accent-color-light: var(--accent-color-light);
