.dark-mode {
  &:root {
    --primary-text-color: white;
    --nav-background: white;
    --nav-text: black;
    --accent-color: #ff00c7;
    --body-color: black;
  }
}

:root {
  --primary-text-color: black;
  --nav-background: black;
  --nav-text: white;
  --accent-color: #ff00c7;
  --body-color: white;
}

$primary-text: var(--primary-text-color);
$nav-background: var(--nav-background);
$nav-text: var(--nav-text);
$accent-color: var(--accent-color);
$body-color: var(--body-color);
