---
import { slugify } from "@/utils/format";
import RenderedContent from "../../components/RenderedContent.astro";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  //Fetching posts
  const res = await fetch("http://localhost:1337/api/posts");
  const { data: posts } = await res.json();

  //generating
  return posts.map((post) => ({
    params: { slug: slugify(post.attributes.Title) },
    props: post,
  }));
}

const post = Astro.props;
---

<article class="test">
  <div class=""></div>
  <article>
    <RenderedContent {post} />
  </article>
  <div class=""></div>
</article>

<style lang="scss">
  .test {
    display: grid;
    grid-template-columns: 5fr 3fr 5fr;
  }
</style>
