---
import MainLayout from "@/layouts/MainLayout.astro";
import PostCard from "@/components/PostCard.astro";

import { getCategoriesFromPost } from "@/api/posts/getCategoriesFromPost";
import { getPosts } from "@/api/posts/getPosts";

import "@/assets/sass/pages/_allPosts.scss";

const posts = await getPosts();
---

<!DOCTYPE html>
<html lang="en">
  <MainLayout>
    <main class="all-posts">
      <h1 class="all-posts__headline">All blog posts</h1>
      {
        posts.map((post) => (
          <PostCard
            post={post}
            categories={getCategoriesFromPost(post)}
            image={"https://picsum.photos/400/500"}
          />
        ))
      }
    </main>
  </MainLayout>
  <style lang="scss"></style>

</html>
