@use "../shared" as *;

.blog-post {
  h1 {
    font-size: clamp(1rem, 1rem + 1vw, 3rem);
    font-family: $fonts-monty-extra-bold;
  }
  &__content {
    pre {
      display: grid;
      text-wrap: wrap;
      max-width: 100%;
      overflow: hidden;
      text-align: center;
      font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
    }
    margin-bottom: 4rem;
    p {
      font-family: $fonts-monty-medium;
      line-height: 1.75;
    }
    h2 {
      font-family: $fonts-monty-extra-bold;
      font-size: clamp(1.75rem, 1.75rem + 1vw, 2.25rem);
      margin: 3rem 0 1.5rem 0rem;
    }
    h3 {
      font-family: $fonts-monty-semibold;
      font-size: clamp(1.6rem, 1.6rem + 1vw, 2rem);
      margin: 3rem 0 1.5rem 0rem;
    }
    h4 {
      font-size: 1.5rem;
      font-family: $fonts-monty-bold;
      margin: 2rem 0 1.5rem 0rem;
    }
    figure {
      margin: 2rem 0rem;

      img {
        margin: 0 auto;
        border-radius: 3rem;
        max-height: 400px;
      }
      figcaption {
        text-align: center;
        font-family: $fonts-monty-semibold-italic;
        margin: 0.75rem 0;
      }
    }
  }

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -1rem;

  color: $colors-primary-text;
  z-index: 10;
  &__limiter {
    margin: 0 auto;
    @media screen and (max-width: helpers-pxToRem(1200px)) {
      width: 80%;
    }
    width: 90%;
  }
  &__image {
    width: 100%;
    max-width: 100%;
    max-height: helpers-pxToRem(750px);
    object-position: center;
    object-fit: cover;
  }
  &__image-ctr {
    display: grid;
    position: relative;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.469);
    position: absolute;
  }
  &__description {
    margin: 3rem 0rem;
    .labels {
      gap: 1rem;
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .date {
      font-family: $fonts-monty-medium;
      font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
    }
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0.7rem;
    justify-items: center;
    text-align: center;
  }
}

.blog {
  z-index: 1000;
  position: relative;
  height: fit-content;
  padding: 0rem 0rem 3rem 0rem;
  background-color: $colors-body-color;
}

.blog-grid {
  @media screen and (min-width: helpers-pxToRem(1200px)) {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 2rem;
  }
}

.shortcuts {
  height: fit-content;
  top: 25%;
  bottom: 50%;
  position: sticky;

  &__headline {
    font-family: $fonts-monty-bold;
    text-align: center;
    margin-bottom: 1.5rem;
    &:hover {
      cursor: default;
    }
    color: $colors-nav-background;
  }
  &__headlines {
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: $fonts-monty-semibold;
    font-size: 1rem;
    color: $colors-nav-background;
    a {
      transition: color 0.3s;
      &:hover {
        color: $colors-accent-color;

        cursor: pointer;
      }
    }
    gap: 0.4rem;
  }

  @media screen and (max-width: helpers-pxToRem(1200px)) {
    display: none;
  }
}

.visible {
  color: $colors-accent-color;
}

.active-content {
  animation: content-active 1.5s;
}
@keyframes content-active {
  0% {
  }

  50% {
    background-color: $colors-accent-color-light;
  }

  100% {
    background-color: none;
  }
}

.share {
  p {
    font-family: $fonts-monty-semibold;
    font-size: 1.25rem;
    @media screen and (min-width: helpers-pxToRem(1200px)) {
      transform: rotate(90deg);
    }
  }
  gap: 1rem;
  position: relative;
  top: 25%;
  bottom: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;

  justify-items: center;
  height: fit-content;

  @media screen and (min-width: helpers-pxToRem(1200px)) {
    grid-template-columns: unset;
    position: sticky;
    grid-auto-rows: min-content;
  }
  .divider {
    height: 10vw;
    width: 1px;
    background-color: $colors-accent-color;

    transform: rotate(90deg);
    align-self: center;
    @media screen and (min-width: helpers-pxToRem(1200px)) {
      transform: rotate(0deg);
      margin-top: 2rem;
      height: 20vh;
    }
  }
}

#fb,
#linkedin,
#twitter,
#copy {
  width: 2rem;
  height: 2rem;
  fill: $colors-nav-background;
  transition: fill 0.3s;
  &:hover {
    fill: $colors-accent-color;
  }
}

.copied {
  display: none;
  position: fixed;

  text-align: center;
  width: 100%;
  background-color: $colors-accent-color;
  font-family: $fonts-monty-bold;
  z-index: 500;
  left: 0;
  bottom: 4%;
  font-size: 1.5rem;

  &--visible {
    display: block;
    animation: copy 2s;
  }
}

@keyframes copy {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
