---
import PostCard from "@/components/PostCard.astro";
import MainLayout from "@/layouts/MainLayout.astro";

import { slugify } from "@/utils/format";
import { getCategories } from "@/api/categories/getCategories";
import { getPostsFromCategory } from "@/api/posts/getPostsFromCategory";
import { getCategoriesFromPost } from "@/api/posts/getCategoriesFromPost";

import "@/assets/sass/pages/_categoriesPosts.scss";
import { sortPosts } from "@/api/posts/sortedPosts";
import { getSrcSetFromImage } from "@/api/images/getSrcSetFromImage";

export async function getStaticPaths() {
  //Fetching posts
  const categories = await getCategories();

  //generating
  return categories.map((category) => ({
    params: { slug: slugify(category.category_name) },
    props: category,
  }));
}
const category = Astro.props;

const posts = await getPostsFromCategory(category.category_name);
const sortedPosts = await sortPosts(posts);
---

<MainLayout>
  <main class="categories-posts">
    {
      sortedPosts.length !== 0 && (
        <h1 class="categories-posts__headline">
          Posts related to {category.category_name}
        </h1>
      )
    }

    <div class="posts">
      {
        sortedPosts.map((post) => (
          <PostCard {post} categories={getCategoriesFromPost(post)} />
        ))
      }

      {
        sortedPosts.length === 0 && (
          <div class="no-posts">
            <h1>
              Sorry there are no related posts for {category.category_name}!
            </h1>
            <a href="/categories">Explore other categories >> </a>
          </div>
        )
      }
    </div>
  </main>
</MainLayout>
