---
import CategoryLayout from "@/layouts/CategoryLayout.astro";
import CategoryCard from "@/components/CategoryCard.astro";

import { getCategories } from "@/api/categories/getCategories";

import "@/assets/sass/pages/_categories.scss";
import { slugify } from "@/utils/format";

const categories = await getCategories();
---

<html lang="en">
  <CategoryLayout
    title="Sincerely, Leo | Explore the various categories"
    description="From self-improvement, life, friendships to coding and business tips and tricks! Discover a colletion of categorized posts here!"
    image={"/categories_placeholder.png"}
  >
    <main class="categories">
      <h1>All Categories</h1>
      <CategoryCard
        categoryName={`All posts`}
        categoryImage={`/all-posts.jpg`}
        categoryLink={`/blog`}
        isStatic={true}
      />
      {
        categories.map((category) => (
          <CategoryCard
            categoryName={category.category_name}
            categoryImage={category.category_image}
            categoryLink={slugify(category.category_name)}
          />
        ))
      }
    </main>
  </CategoryLayout>
</html>
