---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="coming-soon">Coming soon...</div>
</MainLayout>

<style lang="scss">
  .coming-soon {
    position: absolute;
    height: 100dvh;
    background-color: rgb(20, 18, 18);
    width: 100%;
    left: 0;
    top: 0;
    font-size: 2rem;
    color: white;
    font-family: "Montserrat Bold";
    display: grid;
    place-content: center;
  }
</style>
