---
interface Props {
  text: String;
  theme: "black" | "white" | "universal" | "universal-date";
  id?: String;
  link?: String;
}

const { id, text, theme, link } = Astro.props;

const computedLink = link ? "/categories/" : "";
---

<a
  href=`${computedLink}${link}`
  id={id}
  class:list={[
    `label`,
    { label__black: theme === "black" },
    { label__white: theme === "white" },
    { label__universal: theme === "universal" },
    { label__universal__date: theme === "universal-date" },
  ]}
>
  <p>{text}</p>
</a>

<style lang="scss">
  @use "@/assets/sass/components/_labels.scss";
</style>
