@use "../shared" as *;

.categories {
  h1 {
    margin: 0;
    grid-column: 1/-1;
    font-family: $fonts-monty-bold;
    text-align: center;
    color: $colors-nav-background;
    height: fit-content;
    font-size: 2rem;
    justify-self: center;
  }
  padding: 7rem 0rem;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, 300px);
  @media screen and (min-width: helpers-pxToRem(700px)) {
    grid-template-columns: repeat(auto-fit, 300px);
  }
  @media screen and (min-width: helpers-pxToRem(1200px)) {
    grid-template-columns: repeat(auto-fit, 400px);
  }

  min-height: 100%;
  width: 100%;
  gap: 3rem;
  column-gap: 3rem;
}
