@use "../_shared.scss" as *;

h1 {
  font-family: $fonts-grand-bold;
  color: $colors-primary-text;
}

header {
  position: relative;
  padding-top: 1rem;
}

.main-navigation {
  position: fixed;
  top: 1rem;
  z-index: 100;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.361);
  border-radius: 5rem;
  padding: 0.8rem 5%;
  display: flex;
  justify-content: space-between;
  background-color: $colors-nav-background;
  color: $colors-nav-text;
  align-items: center;
  width: 90%;
  left: 5%;

  @media screen and (min-width: helpers-pxToRem(600px)) {
    width: 85%;
    left: 7.5%;
  }
  @media screen and (min-width: helpers-pxToRem(1200px)) {
    width: 80%;
    left: 10%;
  }

  &__link {
    position: relative;
    top: 2.5px;
    font-family: $fonts-grand-black;
    font-size: clamp(1rem, 1rem + 1vw, 2.2rem);
    transition: color 0.3s;
    &:hover {
      color: $colors-accent-color;
    }
  }
  &__mobile-ctr {
    display: flex;
    gap: 1rem;
    @media screen and (min-width: helpers-pxToRem(900px)) {
      display: none;
    }
    button {
      background: none;
      color: $colors-nav-text;
      border: none;
    }
  }
  &__desktop-ctr {
    display: none;
    .moon,
    .sun {
      display: grid;
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: helpers-pxToRem(900px)) {
      display: flex;
      gap: 1.5rem;
      font-family: $fonts-grand-medium;
      a {
        transition: color 0.3s;
        &:hover {
          color: $colors-accent-color;
        }
        position: relative;
        top: 3px;
        color: $colors-nav-text;
        font-size: clamp(1rem, 1rem + 1vw, 1.75rem);
      }
      .linkActive {
        color: $colors-accent-color;
      }
    }
  }
  .menu {
    transition: fill 0.3s;
    fill: $colors-nav-text;
    &:focus {
      cursor: pointer;
      fill: $colors-accent-color;
    }
    &--active {
      fill: $colors-accent-color;
    }
  }
  .moon,
  .sun {
    transition: fill 0.3s;
    &:hover {
      cursor: $cursors-pointer;
      fill: $colors-accent-color;
    }
    fill: $colors-nav-text;
  }
}

.mobile-menu {
  display: grid;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  background-color: #474545;
  width: 100vw;
  @media screen and (min-width: helpers-pxToRem(900px)) {
    display: none;
  }
  &__navigation {
    justify-items: center;
    align-self: end;
    height: 90%;
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    .box {
      position: relative;
      height: 100%;
      max-height: 350px;
      width: 90%;
      max-width: 300px;
      @media screen and (min-width: helpers-pxToRem(700px)) {
        max-width: 500px;
        width: 100%;
      }
      background-color: black;
      color: white;
      font-family: $fonts-monty-bold;
      display: grid;

      border-radius: 2rem;
      overflow: hidden;
    }
    img {
      z-index: 1;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    p {
      display: grid;
      place-items: end start;
      padding: 0.7rem 1rem;
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.498);
      font-size: 1.05rem;
    }
  }
}

.div {
  &:hover {
    cursor: $cursors-pointer;
  }
  display: grid;
  z-index: 100;
  place-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: $colors-nav-background;
  border: helpers-pxToRem(1.5px) solid $colors-nav-text;
  .arrow {
    width: 25%;
    height: 25%;

    height: 1.75rem;
    animation: up-down 5s ease infinite;
    path {
      fill: $colors-nav-text;
    }
  }
  @media screen and (min-width: helpers-pxToRem(700px)) {
    bottom: 2rem;
    right: 3rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 0.75rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    top: -1500px;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    top: 0px;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: -1500px;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    top: -100px;
  }

  100% {
    opacity: 1;
    top: 1rem;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0.3rem);
  }

  25% {
    transform: translateY(-0.3rem);
  }

  50% {
    transform: translateY(0.3rem);
  }

  75% {
    transform: translateY(-0.3rem);
  }

  100% {
    transform: translateY(0.3rem);
  }
}

@keyframes ease-in-arrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ease-out-arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.appear-enter-active {
  animation: fade-in 0.6s;
}

.appear-leave-active {
  animation: fade-out 1.3s;
}

.slide-enter-active {
  animation: slide-in 0.6s;
}

.slide-leave-active {
  animation: slide-out 1.2s;
}

.ease-in-enter-active {
  animation: ease-in-arrow 0.5s;
}

.ease-in-leave-active {
  animation: ease-out-arrow 0.5s;
}

.camera {
  fill: $colors-nav-text;
  transition: fill 0.3s;

  &-container {
    width: 1.75rem;
    position: relative;
    @media screen and (min-width: helpers-pxToRem(900px)) {
      margin-bottom: 0.3rem;
    }
  }

  &-link:hover .camera {
    fill: $colors-accent-color;
  }
}
