@use "../_shared.scss" as *;

h1 {
  font-family: $fonts-grand-bold;
  color: $colors-primary-text;
  // font-size: clamp(helpers-pxToRem(16px), 1rem + 1vw, helpers-pxToRem(32px));
}

header {
  position: relative;
  padding-top: 1rem;
}

.main-navigation {
  position: fixed;
  top: 1rem;
  z-index: 100;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.361);
  border-radius: 5rem;
  padding: 0.8rem 5%;
  display: flex;
  justify-content: space-between;
  background-color: $colors-nav-background;
  color: $colors-nav-text;
  align-items: center;
  width: 90%;
  left: 5%;

  @media screen and (min-width: helpers-pxToRem(600px)) {
    width: 85%;
    left: 7.5%;
  }
  @media screen and (min-width: helpers-pxToRem(1200px)) {
    width: 65%;
    left: 17.5%;
  }

  &__link {
    position: relative;
    top: 2.5px;
    font-family: $fonts-grand-black;
    font-size: clamp(helpers-pxToRem(16px), 1rem + 1vw, helpers-pxToRem(24px));
    transition: color 0.3s;
    &:hover {
      color: $colors-accent-color;
    }
  }
  &__mobile-ctr {
    display: flex;
    gap: 1rem;
    @media screen and (min-width: helpers-pxToRem(900px)) {
      display: none;
    }
    button {
      background: none;
      color: $colors-nav-text;
      border: none;
    }
  }
  &__desktop-ctr {
    display: none;
    .moon,
    .sun {
      margin-left: 1rem;
      display: grid;
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: helpers-pxToRem(900px)) {
      display: flex;
      gap: 1rem;
      font-family: $fonts-grand-medium;
      a {
        transition: color 0.3s;
        &:hover {
          color: $colors-accent-color;
        }
        position: relative;
        top: 3px;
        color: $colors-nav-text;
        font-size: clamp(
          helpers-pxToRem(16px),
          1rem + 1vw,
          helpers-pxToRem(24px)
        );
      }
      .linkActive {
        color: $colors-accent-color;
      }
    }
  }
  .menu {
    transition: fill 0.3s;
    fill: $colors-nav-text;
    &:focus {
      cursor: pointer;
      fill: $colors-accent-color;
    }
    &--active {
      fill: $colors-accent-color;
    }
  }
  .moon,
  .sun {
    transition: fill 0.3s;
    &:hover {
      cursor: pointer;
      fill: $colors-accent-color;
    }
    fill: $colors-nav-text;
  }
}

.mobile-menu {
  display: grid;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  background-color: #474545;
  width: 100vw;
  @media screen and (min-width: helpers-pxToRem(900px)) {
    display: none;
  }
  &__navigation {
    justify-items: center;
    align-self: end;
    height: 90%;
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    .box {
      height: 100%;
      max-height: 350px;
      width: 90%;
      max-width: 300px;
      background-color: black;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    top: -1500px;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    top: 0px;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: -1500px;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    top: -100px;
  }

  100% {
    opacity: 1;
    top: 1rem;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

.appear-enter-active {
  animation: fade-in 0.6s;
}

.appear-leave-active {
  animation: fade-out 1.3s;
}

.slide-enter-active {
  animation: slide-in 0.6s;
}

.slide-leave-active {
  animation: slide-out 1.2s;
}
