@use "../shared" as *;

.post {
  &__image {
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.04);
    }
    max-height: helpers-pxToRem(290px);
    width: 100%;
    border-radius: 2rem;
    @media screen and (min-width: helpers-pxToRem(700px)) {
      width: 100%;
      justify-self: center;
    }

    @media screen and (min-width: helpers-pxToRem(1500px)) {
      max-height: helpers-pxToRem(350px);
      width: 100%;
      justify-self: center;
    }
  }
  @media screen and (min-width: helpers-pxToRem(700px)) {
    width: 60%;
  }
  @media screen and (min-width: helpers-pxToRem(1500px)) {
    width: 60%;
  }
  gap: 1rem;
  width: 80%;
  margin-bottom: 2rem;
  justify-self: center;
  display: grid;
  grid-template-rows: max-content max-content max-content max-content;
  &__details {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  &__headline {
    width: 100%;
    display: grid;
    grid-template-rows: auto max-content;
    font-family: $fonts-grand-medium;
    color: $colors-nav-background;
    text-align: center;

    h2 {
      font-family: $fonts-monty-semibold;
      font-size: clamp(1.1rem, 1rem + 1vw, 1.3rem);
      transition: color 0.3s;
      align-self: start;
      &:hover {
        cursor: pointer;
        color: $colors-accent-color;
      }
    }
    a {
      transition: color 0.3s;
      &:hover {
        cursor: pointer;
        color: $colors-accent-color;
      }
      font-size: clamp(0.9rem, 1rem + 1vw, 1.5rem);
      width: 100%;
      align-self: start;
      text-align: center;
      font-family: $fonts-grand-black;
      color: $colors-nav-background;
      margin: 0.5rem 0rem;
    }
  }
  #date {
    justify-self: center;
  }
}
