---
import BaseHead from "../components/BaseHead.astro";
import MainNavigation from "@/components/navigation/MainNavigation.vue";
import Footer from "@/components/Footer.astro";
import "@/assets/sass/layouts/_blogLayout.scss";

// const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <script src="@/js/prism.js"></script>
  </head>
  <BaseHead title="test" />
  <body class="blog">
    <MainNavigation client:only />
    <main class="blog-post">
      <slot />
    </main>

    <style lang="scss">
      @use "../assets/sass/_shared.scss" as *;
      @use "../assets/sass/layouts/_blogLayout.scss" as *;
    </style>
    <Footer />
  </body>
</html>
