---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import MainNavigation from "@/components/navigation/MainNavigation.vue";

// props go here, and flow into the main head
// don't forget to render the main head inside of the mainlayout above the body!
---

<html lang="en">
  <!-- MainHead {title} {desc} -->
  <BaseHead title="test" />
  <body class="limiter">
    <MainNavigation client:only />
    <slot />
    <style lang="scss">
      @use "../assets/sass/_shared.scss" as *;
      @use "../assets/sass/layouts/_mainLayout.scss" as *;
    </style>
    <Footer />
  </body>
</html>
