---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import MainNavigation from "@/components/navigation/MainNavigation.vue";

// props go here, and flow into the main head
// don't forget to render the main head inside of the mainlayout above the body!
---

<html lang="en">
  <!-- MainHead {title} {desc} -->
  <BaseHead title="test" />
  <body>
    <MainNavigation client:only />
    <div class="limiter">
      <slot />
      <Footer />
    </div>
    <style lang="scss">
      @use "../assets/sass/layouts/_mainLayout.scss" as *;
    </style>
  </body>
</html>
